@import '@heroui/react/styles';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;

  --color-beige-light: #f9f4e0;
  --color-green-light: #7CB68F;
  --color-green: #4E7B5A;
  --color-green-dark: #1A3E24;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
